/* #border {
  display: flex;
  border: solid 2px black;
  width: 400px;
  padding: 20px;
}


#flex-wrap{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  min-width: 400px;
  gap: 4px;
}

.box{
  width: calc(200px - 2px);
  height: 100px;
  background-color: orangered;
} */
 

#border {
  display: inline-flex;
  padding: 20px;
  border: solid 2px black;
}


#flex-wrap{
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  min-width: 400px;
  gap: 4px;
}

.box{
  width: calc(200px - 2px);
  height: 100px;
  background-color: orangered;
}